<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}PRIMARY{% end %}</title>
  <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
  <style>
    body {
      background-color: #2D2D2D;
      color: #fff;
      text-align: center;
      font-family: Helvetica;
    }
  </style>
  {% block head %}
  {% end %}
</head>
  <body>
    {% block body %}
    {% end %}
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    {% block post-scripts %}
    {% end %}
  </body>
</html>