{% extends "base.html" %}

{% block body %}

  <style>
    #banner {
      margin-top: 5%;
      width: 90%;
    }
    #status {
      font-size: 1em;
      font-family: monospace;
      position: absolute;
      top: 1%;
      right: 1%;
    }
    .player {
      margin-top: 25%;
      font-family: 'Outage';
    }
    .player > img {
      border-radius: 5px;
      height: 250px;
      border: 5px solid white;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .player > span {
      display: block;
      font-size: 2em;
    }
    .player-score {
      display: inline;
    }
    span.player-name {
      font-size: 3em;
    }
    #vs {
      margin-top: 50%;
      font-size: 8em;
      font-family: 'Outage';
    }
    #slides {
      margin-top: 50px;
    }
    .slide {
      display: none;
    }
    .byline {
      font-family: 'Mission Script';
      font-size: 7em;
      line-height: 1.1em; /* Fix descenders getting cut off */
      display: none;
    }
    @-webkit-keyframes pulsate {
        0% {
          -webkit-transform: scale(0.9, 0.9);
        }
        50% {
          -webkit-transform: scale(1.1, 1.1)
        }
        100% {
          -webkit-transform: scale(0.9, 0.9);
        }
    }
    #tap-to-continue {
      display: none;
      margin-top: 25px;
      font-family: 'Outage';
      font-size: 4em;
      -webkit-animation: pulsate 2s ease-in-out;
      -webkit-animation-iteration-count: infinite; 
    }
    .message {
      display: none;
      margin-top: 20%;
    }
    .message > div {
      font-family: 'Outage' !important;
      font-size: 4em;
    }
    body {
      margin: 0;
      padding: 0;
    }
    canvas {
      width: 100%;
      height: 100%;
    }
    #board {
      display: none;
    }
    .player-status {
      display: none;
      height: 60px;
      background-color: white !important;
      font-family: 'Outage' !important;
      color: #2D2D2D !important;
      font-size: 2em;
      padding-left: 15px;
      padding-right: 15px;
      box-shadow:0px 0px 20px white;
    }
    .player-status > div {
      margin-top: 10px;
    }
    .player-status > .name {
      float: left;
    } 
    .player-status > .score {
      float: right;
    } 
    #player-status-2 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .title {
      font-family: 'Outage';
      font-size: 8em;
      max-width: 70%;
      margin: auto;
      margin-bottom: 25px;
      display: none;
    }
    .instruction {
      font-family: 'Outage';
      font-size: 3em;
      max-width: 70%;
      margin: auto;
      margin-bottom: 25px;
      display: none;
    }
    .graphic {
      width: 500px;
      display: none;
    }
    #themesong {
      display: none;
    }
    #timer-top, #timer-bottom {
      position: absolute;
      left: 50%;
      font-size: 50px;
      font-family: 'Outage';
      margin-left: -25px;
      display: none;
      color: #2D2D2D;
    }
    #timer-bottom {
      bottom: 0;
      z-index: 100;
    }
  </style>

  <div id="container">
    <div id="timer-top"></div>
    <div id="timer-bottom"></div>
    <div id="player-status-1" class="player-status">
    </div>
    <div id="board"></div>
    <div id="player-status-2" class="player-status">
    </div>
    
    <div id="logo" class="pure-g">
        <div class="pure-u-1">
          <img id="banner" src="static/img/banner.png">
        </div>
      </div>
    <div id="players" class="pure-g">
      <div class="pure-u-1-3">
        <div id="player-avatar-1" class="player"></div>
      </div>
      <div class="pure-u-1-3">
        <div id="vs">vs</div>
      </div>
      <div class="pure-u-1-3">
        <div id="player-avatar-2" class="player"></div>
      </div>
    </div>
    <div id="ask-for-intro" class="pure-g message">
      <div class="pure-u-1-1">skip instructions?</div>
    </div>
    <div id="in-colorize" class="pure-g message">
      <div class="pure-u-1-1">eyes on your phones!</div>
    </div>
    <div id="slides" class="pure-g">
      <div id="slide-1" class="pure-u-1-1 slide">
        <div class="byline byline-1">is a game of balance</div>
        <br>
        <div class="byline byline-2">in three stages</div>
        <br>
      </div>
      <div id="slide-2" class="pure-u-1-1 slide">
        <div class="title">attack</div>
        <div class="instruction">
        the goal of the game is to score points by firing balls across your opponent’s side
        </div>
        <img class="graphic" src="/static/img/slide-2-graphic.svg"><br>
      </div>
      <div id="slide-3" class="pure-u-1-1 slide">
        <div class="title">defense</div>
        <div class="instruction">
        build walls to defend against incoming fire from your opponent
        </div>
        <img class="graphic" src="/static/img/slide-3-graphic.svg"><br>
      </div>
      <div id="slide-4" class="pure-u-1-1 slide">
        <div class="title">interactions</div>
        <div class="instruction">
        each ball color interacts differently with each wall color, in looping r-g-b order
        </div>
        <img class="graphic" src="/static/img/slide-4-graphic.svg"><br>
      </div>
      <div id="slide-5" class="pure-u-1-1 slide">
        <div class="title">same color</div>
        <div class="instruction">
        balls pass through walls of the same color
        </div>
        <img class="graphic" src="/static/img/slide-5-graphic.svg"><br>
      </div>
      <div id="slide-6" class="pure-u-1-1 slide">
        <div class="title">up-color</div>
        <div class="instruction">
        balls break walls of the color that is immediately after it in rgb order
        </div>
        <img class="graphic" src="/static/img/slide-6-graphic.svg"><br>
      </div>
      <div id="slide-7" class="pure-u-1-1 slide">
        <div class="title">down-color</div>
        <div class="instruction">
        balls are deflected by walls of the color that is immediately before it in rgb order
        </div>
        <img class="graphic" src="/static/img/slide-7-graphic.svg"><br>
      </div>
      <div id="slide-8" class="pure-u-1-1 slide">
        <div class="title">controls</div>
        <div class="instruction">
        drag to build walls, drag &amp; release to fire balls. tap once with 2 fingers to change color. tap button to change mode.
        </div>
        <img class="graphic" src="/static/img/slide-8-graphic.svg"><br>
      </div>
      <div id="slide-9" class="pure-u-1-1 slide">
        <div class="title">pick colors</div>
        <div class="instruction">
        in a few moments, you will see two picutres of your opponent on your phone
        </div>
        <img class="graphic" src="/static/img/slide-9-graphic.svg"><br>
      </div>
      <div id="slide-10" class="pure-u-1-1 slide">
        <div class="title">pick colors</div>
        <div class="instruction">
        tap the one you think has a more balanced amount of <span style="color:#D0021B">red</span>, <span style="color:#7ED321">green</span>, and <span style="color:#4A90E2">blue</span>
        </div>
        <img class="graphic" src="/static/img/slide-10-graphic.svg"><br>
      </div>
      <div id="slide-11" class="pure-u-1-1 slide">
        <div class="title">pick colors</div>
        <div class="instruction">
        you do this 3 times. each time, the color levels of the picture are added to your totals
        </div>
        <img class="graphic" src="/static/img/slide-11-graphic.svg"><br>
      </div>
      <div id="slide-12" class="pure-u-1-1 slide">
        <div class="title">color totals</div>
        <div class="instruction">
        these levels determine how quickly you can fire balls &amp; build walls of that color
        </div>
        <img class="graphic" src="/static/img/slide-12-graphic.svg"><br>
      </div>
      <div id="tap-to-continue" class="pure-u-1-1">
        <div>tap to continue</div>
      </div>
    </div>
    <div id="status">initializing...</div>
    <audio id="themesong" src="/static/gardenparty.mp3" preload="auto" controls></audio>
  </div>

  <script id="player-avatar-template" type="text/x-mustache-template">
    <span class="player-name">{{! first_name }}</span>
    <img class="player-picture" src="{{! picture_url }}">
    {{!# score }}
    <span class="player-score">Score: {{! score }} + {{! round_score }}</span>
    {{!/ score }}
  </script>

  <script id="player-status-template" type="text/x-mustache-template">
    <div class="name"><span>{{! name }}</span></div>

    {{!# score}}
      <div class="score"><span>Score: {{! score }} + {{! round_score }}</span></div>
    {{!/score}}
    {{!^score}}
      <div class="score"><span>Score: {{! round_score }}</span></div>
    {{!/score}}

  </script>

{% end %}

{% block post-scripts %}
  <script>
    var existingProfiles = {% raw json_encode(profiles) %};
  </script>
  <script src="/static/js/vendor/physicsjs-full-0.7.js"></script>
  <script src="/static/js/vendor/pixi.js"></script>
  <script src="/static/js/engine.js"></script>
  <script src="/static/js/board.js"></script>
{% end %}