{% extends "base.html" %}

{% block head %}
<style>
	body {
		margin: 0;
    padding: 0;
    text-align: left !important;
	}
	canvas {
    width: 100%;
    height: 100%;
    /*width: 100px;*/
    /*height: 100px*/
	}
</style>
<!-- <link href="/static/css/pad.css" media="all" rel="stylesheet" type="text/css" /> -->
{% end %}

{% block body %}
  <div id="container">
    <canvas id="board"></canvas>
  </div>
{% end %}

{% block post-scripts %}
  <script src="/static/js/vendor/hogan.js"></script>
  <script src="/static/js/vendor/underscore.min.js"></script>
  <script src="/static/js/vendor/backbone.min.js"></script>
  <script src="/static/js/vendor/physicsjs-full.min.js"></script>
  <script src="/static/js/board.js"></script>
{% end %}