{% extends "base.html" %}

{% block head %}
{% end %}

{% block body %}
<h1>connecting...</h1>
<div id="compare">
</div>
{% end %}

{% block post-scripts %}
<script>
  
    var host = location.origin.replace(/^http/, 'ws')
    var ws = new WebSocket(host + "/socket");

    // ws.onopen = function() {
    //    ws.send("Hello, world");
    // };

    ws.onclose = function () {
      $("h1").text("connecting...");
    }

    ws.onmessage = function (evt) {
      console.log(evt);
      msg = JSON.parse(evt.data);
      if ("images" in msg) {
        console.log(msg);
        msg.images.forEach(function (image) {
          $("#compare").after(JSON.stringify(image.levels));
          $("#compare").after('<img src="/static/generated/' + image.id + '.png"></img>');
          $("#compare").after('<img src="/static/generated/' + image.id + '-overlay.png"></img>');
        });
      }
      if (msg.state == "in_colorize") {
        $("h1").text("Ready!");
        ws.send("get_images");
      }
      else if (msg.state == "wait_for_pair") {
        $("h1").text("Waiting for other player");
      }
    };

</script>
{% end %}