{% extends "base.html" %}

{% block head %}
<style>
  h1 {
    font-family: monospace;
  }
  .photo {
  }
  .photo > img {
    border-radius: 25px;
    width: 250px;
    height: 250px;
    border: 5px solid white;
  }
  .photo > img.colorized {
    display: none;
  }
  #compare {
    margin-top: 15px;
  }
  #status {
    font-size: 1em;
    font-family: monospace;
    position: absolute;
    bottom: 1%;
    right: 1%;
  }
  #next-slide {
    display: none;
  }
</style>
{% end %}

{% block body %}
  <div id="container">
    <div class="pure-g">
      <div class="pure-u-1-1">
        <form method="POST">
          <input type="hidden" name="red">
          <input type="hidden" name="green">
          <input type="hidden" name="blue">
        </form>
        <button id="next-slide">next slide</button>
      </div>
    </div>

    <div id="compare" class="pure-g">
      <div class="pure-u-1-2 photo"></div>
      <div class="pure-u-1-2 photo"></div>
    </div>

    <div id="status">initializing...</div>
  </div>

  <script id="photo-template" type="text/x-mustache-template">
    <img class="original" src="/static/generated/{{! id }}.png">
    <img class="colorized" src="/static/generated/{{! id }}-overlay.png">
  </script>
{% end %}

{% block post-scripts %}
  <script src="/static/js/colorize.js"></script>
{% end %}