{% extends "base.html" %}

{% block head %}
<style>
  h1 {
    font-family: monospace;
  }
  .image {
    width: 400px;
    height: 400px;
    border-radius: 10px;
  }
  .image-overlay {
    display: none;
  }
  #status {
    font-size: 1em;
    font-family: monospace;
    position: absolute;
    bottom: 1%;
    right: 1%;
  }
</style>
{% end %}

{% block body %}
  <div id="container">
    <div class="pure-g">
      <div class="pure-u-1-1 slide">
        <form method="POST">
          <input type="hidden" name="red">
          <input type="hidden" name="green">
          <input type="hidden" name="blue">
        </form>
        <button id="next-slide">next slide</button>
      </div>
    </div>

    <div id="compare" class="pure-g">
      <div class="pure-u-1-2 slide"></div>
      <div class="pure-u-1-2 slide"></div>
    </div>

    <div id="status">initializing...</div>
  </div>

  <script id="photo-template" type="text/x-mustache-template">
    <img class="image" src="/static/generated/{{! id }}.png">
    <img class="image image-overlay" src="/static/generated/{{! id }}-overlay.png">
  </script>
{% end %}

{% block post-scripts %}
  <script src="/static/js/colorize.js"></script>
{% end %}