<!DOCTYPE html>
<html>

<head>
  <title>credit where it's due</title>
  <style>
    body {
      font-family: 'Open Sans';
      margin: 25px;
    }
    li {
      margin: 10px;
    }
  </style>
</head>

<body>
  <h1>Credits</h1>

  <h3>People</h3>

  I would like to thank the following people for their invaluable help in making this 112 term project a reality:

  <ul>

  <li>To <strong>Joe Doyle</strong> and his beautiful brain, for sharing his depthless knowledge of physics engines, and being able to tell me things like "Yeah... you definitely do NOT want to be doing that." and "Oh that's easy, just use a little trig!"</li>

  <li>To <strong>Berk Alper</strong> for his numerous (opinionated) suggestions about user experience, game controls, and the color of the bezel of the iPhones in my design mockups.</li>

  <li>To <strong>Aysar Ghararibeh</strong> for his help in brainstorming and developing game mechanics.</li>

  <li>To <strong>Kai Hernandez</strong> for his incredible patience and persistence in helping tune the colorization algorithm.</li>

  <li>To all of the third floor reZidents of the Residence on Fifth (and others who chill with us from time to time) for their help testing the game and the limits of my loophole-anticipation abilities, in particular:</li>

  <li>To <strong>Amy Yang, Lois Kim, Vivian Nives, Joseph Paetz, Jacob Van Buren, Ford Seidel, Velisa Li, Jocelyn Huang, Marie Shaw.</strong></li>

  <li>To the brothers of AEPi's Alpha Kappa chapter for their creative suggestions and help refining and expanding the initial vision (especially <strong>Raphie Segal, Michael David Solomon,</strong> and <strong>Alex Frieder.</strong>)</li>

  <li><strong>To Erik Pintar</strong>, my wonderful CA and term project mentor, for words of wisdom, encouragement, and amusement throughought the entire process.</li>

  <li>To my parents and brothers for their advice, suggestions and meta-suggestions.</li>

  <li>And, of course, to Professor <strong>David Kosbie</strong> for creating this amazing course and for making himself available to listen to my many (now abandoned) other term project ideas, and for giving me practical advice about term projects, time management, and game design, as well as delivering hard-hitting reality-checkers such as "this is either going to be a complete absolute disaster or it will turn out incredibly well" and "you know you're insane, right?"</li>

  </ul>

  <h3>Typography</h3>

  <ul>
  <li>James T. Edmondson's "Mission Script", from www.losttype.com/font/?name=mission_script</li>
  <li>Dave Whitley's "Outage", www.losttype.com/font/?name=outage</li>
  </ul>

  <h3>Songs</h3>

  <ul>
  <li>"Garden Party" by blarsa, www.newgrounds.com/audio/listen/199965</li>
  </ul>

  <h3>Icons</h3>

  <ul>
  <li>Rotate Phone icon by Kelig Le Luron the Noun Project, www.thenounproject.com/kelig</li>
  </ul>

  <h3>Python packages</h3>
  <ul>
  <li>pillow</li>
  <li>certifi</li>
  <li>colorama</li>
  <li>facebook-sdk</li>
  <li>pymongo</li>
  <li>requests</li>
  <li>tornado</li>
  </ul>

  <h3>JavaScript modules</h3>

  <ul>
  <li>Jeremy Ashkenas' Backbone.js &amp; Underscore.js</li>
  <li>Goodboy Digital's Pixi.js</li>
  <li>John Resig &amp; The jQuery Foundation's jQuery</li>
  <li>Caolan McMahon's async.js</li>
  <li>Twitter's Hogan.js</li>
  <li>FT Labs' fastclick.js</li>
  </ul>

  <h3>CSS Frameworks</h3>

  <ul>
  <li>Daniel Eden's Animate.css, daneden.github.io/animate.css/</li>
  <li>Yahoo, Inc.'s Pure, purecss.io</li>
  </ul>

  <em>from primary.social/credits</em>
</body>

</html>