{% extends "base.html" %}

{% block body %}

  <style>
    #banner {
      margin: auto;
      position: absolute;
      top: 0px;
      left: 0;
      bottom: 0px;
      right: 0px;
      width: 100%;
    }
    #start {
      color: white;
      z-index: 1000000000;
      position: relative;
    }
  </style>
  <img id="banner" src="static/img/banner.png">
  <a id="start" href="/pair">Start game!</a>
  <script>
    var host = location.origin.replace(/^http/, 'ws')
    var ws = new WebSocket(host + "/websocket");
    ws.onopen = function() {
       ws.send("Hello, world");
    };
    ws.onmessage = function (evt) {
       // alert(evt.data);
    };
    // $("#start").on('click', function (event) {

    //   event.preventDefault();
    // });
  </script>

{% end %}