{% extends "base.html" %}

{% block head %}
  <!-- <link href="/static/css/pad.css" media="all" rel="stylesheet" type="text/css"/> -->
  <style>
    body {
      margin: 0;
      padding: 0;
      text-align: left !important;
    }
    canvas {
      background-color: #999;
      width: 100%;
      height: 100%;
    }
  </style>

{% end %}

{% block body %}
  <div id="brim-main">
    <div id="container">
    </div>
  </div>
  <div id="brim-mask">
    <h1>scroll down</h1>
  </div>
{% end %}

{% block post-scripts %}
  <script src="/static/js/vendor/brim.min.js"></script>
  <script src="/static/js/vendor/scream.min.js"></script>
  <script src="/static/js/vendor/platform.js"></script>
  <script src="/static/js/vendor/physicsjs-full-0.7.js"></script>
  <script src="/static/js/vendor/pixi.js"></script>
  <script src="/static/js/base-view.js"></script>
  <script src="/static/js/pad-physics.js"></script>
  <script>
  var scream,
      brim;
  if (platform.os.family == 'iOS' && parseInt(platform.os.version, 10) > 8 || platform.ua.indexOf('like Mac OS X') != -1) {
      scream = gajus.Scream({
        width: {
          portrait: 320,
          landscape: 568
        }
      });

      brim = gajus.Brim({
        viewport: scream
      });

      brim.on('viewchange', function (e) {
        document.body.className = e.viewName;
      });
  }
  </script>
{% end %}