{% extends "base.html" %}

{% block head %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<style>
  #taptologin {
      position: absolute;
      top: 0px;
      left: 0;
      bottom: 0px;
      right: 0px;
      margin: 10%;
  }
  form {
    display: none;
  }
</style>
{% end %}

{% block body %}

<div id="taptologin">
  <img id="fbicon" src="/static/img/taptologin.svg">
</div>

<form method="POST">
  <input type="text" name="access_token">
  <input type="text" name="expires_in">
</form>

{% end %}

{% block post-scripts %}

<script>

  $("#taptologin").on('click', function(event) {
    FB.login(function(response) {
      if (response.authResponse) {
          console.log(response); // dump complete info
          postToken(response.authResponse);
      } else {
          alert("Why'd you cancel?")
      }
    }, {scope: 'public_profile,user_photos'});
  });

  function postToken(authResponse) {
    $("input[name=access_token]").val(authResponse.accessToken);
    $("input[name=expires_in]").val(authResponse.expiresIn);
    $('form').submit();
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1557570384475065',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.2' // use version 2.1
    });
    FB.getLoginStatus(function(response) {
      console.log(response.authResponse.access_token);
      if (response.status === "connected") {
        postToken(response.authResponse);
      }
    });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

{% end %}